body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left,#189AB4, #75E6DA);
}

header h1 {
    color: #05445E;
    font-size: 3em;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #75E6DA;
    margin-top: 20px;
    padding: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: #189AB4;
}


